<div><input type="text" ng-model="watchName"><a><button ng-click="newWatchlist()">New Watchlist</button></a></div>
<div><input type="text" ng-model="addTicker"><a><button ng-click="newWatchlist()">Add to Watchlist</button></a></div>
<div><a><button ng-click="update()">Update</button></a></div>
<div>

<select ng-model="symbolModel">
  <option></option>
  <option ng-repeat="thing in data track by $index">{{thing.lastPrice}}</option>  <!-- SPECIAL NOTE: 'value' attribute as well as spaces outside curly brackets break the code!! -->
</select>

<table>
<tr>
  <td>Symbol</td>
  <td>Last</td>
  <td>Close</td>
  <td>High</td>
  <td>Low</td>
  <td>Volume</td>
</tr>

<tr ng-repeat="thing in data track by $index">
  <td><em>{{thing.symbol}}</em></td>
  <td>{{thing.lastPrice}}</td>
  <td>{{thing.close}}</td>
  <td>{{thing.high}}</td>
  <td>{{thing.low}}</td>
  <td>{{thing.volume}}</td>
</tr>
</table>

