<div id="cntrlPanelTop">
<div class="medium"><span id="textFlash">Live</span> Update: <span id="updateTime"></span></div>
<div id="addTick">
  <input type="text" ng-model="addTicker" placeholder=" Add Ticker">
    <a><button ng-click="newTicker()">Add to</button></a>
    <select ng-model="addToThisList" ng-options="thing.$id for thing in listToWatch">
      <option></option>
    </select><div><input ng-model="watchName" type="text" placeholder=" or enter new Watchlist"></div>
</div>

<div>
  <label>WatchList:
    <select ng-model="watchList" ng-options="thing.$id for thing in listToWatch">
    <option value="">Select Watchlist</option>
    </select>
  </label>

  <label>Market:
    <select ng-model="marketList" ng-options="thing.$id for thing in marketsList" ng-change="marketView(marketList)">
    <option value="">Select Market</option>
    </select>
  </label>
</div>

<div>  
  <label>Real-Time Market Scan:
    <select ng-model="scanners" ng-options="thing.$id for thing in scans" ng-change="calc(scanners)"><option value="">Select Scan</option>
    </select>
  </label>
  <!-- <a><button ng-click="update()">Force Update</button></a> -->
</div>
  <!-- <a><button ng-click="populateStocks()">Populate Stock List</button></a> -->
  <!-- <button ng-click="predicate=''">Unsort</button> -->
</div>

<div id="cntrlPanel">
  <table class="list">
    <tr>
      <td>
        <table>
          <tr><td>&nbsp</td></tr>
          <tr>
            <td class="instructions">From the dropdowns above:</td>
          </tr>
          <tr><td>1. Choose a Market/Watchlist</td></tr>
          <tr><td>2. Choose a scan</td></tr>
          <tr><td>&nbsp</td></tr>
          <tr>
            <td class="instructions">To Create New Watchlists:</td>
          </tr>
          <tr><td>1. Enter a ticker in the 'Add Ticker' field</td></tr>
          <tr><td>2. Choose a current watchlist or name a new one</td></tr>
          <tr><td>3. Click 'Add to'</td></tr>
        </table>
      </td>
    </tr>
  </table>
</div>