<!-- this module is used with the login.js file -->
<div id="login-page">
  <header id="my-header">
    <nav>
      <div class="inline">&nbsp</div>
      <div class="inline">&nbsp</div>
      <div class="inline">&nbsp</div>
      <div class="inline">&nbsp</div>
    </nav>
  </header>
	<div class="wrapper">
		<div class="login-container">
			<span class="logo-login"><i class="fa fa-picture-o"></i></span>
			<form class="form">
				<input id="user-email" ng-model="email" type="text" placeholder="Email">
				<input id="user-password" ng-model="password" type="password" placeholder="Password">
				<button id="register-button" ng-click="createUser()">Register</button>
				<a><button id="login-button" ng-click="login()">Login</button></a>
			</form>
			
			<!-- ALERT BOX -->
			<div id="alert" class="alert" role="alert">
				<p ng-if="message">Message: <strong>{{ message }}</strong></p>
  			<p ng-if="error">Error: <strong>{{ error }}</strong></p>
     				<h4 id="alert-title">You are not logged in</h4>
    				<p id="alert-detail"></p>
			</div>
		</div>
	</div>
</div>


<!-- 
  <div>
    <section>
      <h1 id="blog-title" class="margin-bottom">Today's Market</h1>
      <div>blah blah blah blah blah blah blah</div>
      <div>Hello world2</div>
      <div>Hello world3</div>
    </section>

    <section>
      <p>Yesterday's market history chart:
      <br>
        <a href="http://1.bp.blogspot.com/_RZ_mL2cRGpk/TCoWI6j5y5I/AAAAAAAADew/IImMoAa1lhk/s1600/dow+1930s+%231.png" target="_blank">1929-1930 chart</a>
      </p>
      <p class="banner_text">Market Wizard</p>
    </section>
  </div> -->
