<div id="cntrlPanelTop">
<div class="medium"><span id="textFlash">Live</span> Update: <span id="updateTime"></span></div>
<div id="addTick">
  <input type="text" ng-model="addTicker" placeholder=" Add Ticker">
    <a><button ng-click="newTicker()">Add to</button></a>
    <select ng-model="addToThisList" ng-options="thing.$id for thing in listToWatch">
      <option></option>
    </select><div><input ng-model="watchName" type="text" placeholder=" or enter new Watchlist"></div>
</div>

<div>
  <label>WatchList:
    <select ng-model="watchList" ng-options="thing.$id for thing in listToWatch" ng-change="watchListView(watchList)">
    <option value="">Select Watchlist</option>
    </select>
  </label>

  <label>Market:
    <select ng-model="marketList" ng-options="thing.$id for thing in marketsList" ng-change="marketView(marketList)">
    <option value="">Select Market</option>
    </select>
  </label>
</div>

<div>  
  <label>Real-Time Market Scan:
    <select ng-model="scanners" ng-options="thing.$id for thing in scans" ng-change="calc(scanners)"><option value="">Select Scan</option>
    </select>
  </label>
  <!-- <a><button ng-click="update()">Force Update</button></a> -->
  <!-- <a><button ng-click="getTickerData()">Find Ticker</button></a> -->
</div>
</div>

<div id="cntrlPanel">
  <table>
    <tr>
      <td>
        <table class="list">
          <tr>
           <td>
               <button ng-click="order('symbol')"><em>Symbol</em></button>
               <span class="sortorder" ng-show="predicate === 'symbol'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('lastPrice')">Last</button>
               <span class="sortorder" ng-show="predicate === 'lastPrice'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('close')">Close</button>
               <span class="sortorder" ng-show="predicate === 'close'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('high')">High</button>
               <span class="sortorder" ng-show="predicate === 'high'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('low')">Low</button>
               <span class="sortorder" ng-show="predicate === 'low'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('volume')">Volume</button>
               <span class="sortorder" ng-show="predicate === 'volume'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('change')">Change</button>
               <span class="sortorder" ng-show="predicate === 'change'" ng-class="{reverse:reverse}"></span>
           </td>
          </tr>
          <tr ng-repeat="thing in userData | filter: query | orderBy:predicate:reverse">
            <td class="wide">{{thing.ticker}}</td>
            <td class="wide">{{thing.lastPrice}}</td>
            <td class="wide">{{thing.close}}</td>
            <td class="wide">{{thing.high}}</td>
            <td class="wide">{{thing.low}}</td>
            <td class="wide">{{thing.volume}}</td>
            <td class="wide">{{thing.calculation}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div id"cntrlPanel2">
    <table id="cntrlPanel2">
          <tr ng-repeat="thing in watchList">
            <td class="watchTicks"><button type="button" class="deleteButton" ng-click="getTickerData(thing.ticker, watchList)">Get Data</button>{{thing.ticker}}</td>
          </tr>
  </table>
</div>


