<div id="cntrlPanelTop">
<div>
  <input type="text" ng-model="addTicker" placeholder="Add Ticker">
    <a><button ng-click="newTicker()">Add</button></a> to 
    <select ng-model="symbolModel" ng-options="thing.$id for thing in listToWatch" >
      <option></option>
    </select><input ng-model="watchName" type="text" placeholder="New or Existing Watchlist">
</div>

<div>
<!-- <label>StockList:
  <select ng-model="stockList" ng-options="thing.symbol for thing in data"></select>
{{stockList.symbol}}
</label> -->

  <label>WatchList:
  <select ng-model="watchList" ng-options="thing.$id for thing in listToWatch" ng-change="changeList()">
  <option value="">Select Watchlist</option>
  </select>
  <!-- {{watchList}} -->
</label>

  <label>Scan Market:
  <select ng-model="scanners" ng-options="thing.$id for thing in scans" ng-change="calc(scanners)" id="scanOption"><option value="">Select Scan</option>
  </select>
</label>
</div>

<div></div>
<a><button ng-click="update()">Update</button></a>
<!-- <a><button ng-click="populateStocks()">Populate Stock List</button></a> -->
<button ng-click="predicate=''">Unsort</button>
<a><button ng-click="priceChange()">Price Change Today</button></a>
</div>

<div id="cntrlPanel">
  <table class="list">
    <tr>
     <td>
         <button ng-click="order('symbol')"><em>Symbol</em></button>
         <span class="sortorder" ng-show="predicate === 'symbol'" ng-class="{reverse:reverse}"></span>
     </td>
     <td>
         <button ng-click="order('lastPrice')">Last</button>
         <span class="sortorder" ng-show="predicate === 'lastPrice'" ng-class="{reverse:reverse}"></span>
     </td>
     <td>
         <button ng-click="order('close')">Close</button>
         <span class="sortorder" ng-show="predicate === 'close'" ng-class="{reverse:reverse}"></span>
     </td>
     <td>
         <button ng-click="order('high')">High</button>
         <span class="sortorder" ng-show="predicate === 'high'" ng-class="{reverse:reverse}"></span>
     </td>
     <td>
         <button ng-click="order('low')">Low</button>
         <span class="sortorder" ng-show="predicate === 'low'" ng-class="{reverse:reverse}"></span>
     </td>
     <td>
         <button ng-click="order('volume')">Volume</button>
         <span class="sortorder" ng-show="predicate === 'volume'" ng-class="{reverse:reverse}"></span>
     </td>
     <td>
         <button ng-click="order('change')">Change</button>
         <span class="sortorder" ng-show="predicate === 'change'" ng-class="{reverse:reverse}"></span>
     </td>
    </tr>
    <tr ng-repeat="thing in userData | filter: query | orderBy:predicate:reverse">
      <td>{{thing.ticker}}</td>
      <td>{{thing.lastPrice}}</td>
      <td>{{thing.close}}</td>
      <td>{{thing.high}}</td>
      <td>{{thing.low}}</td>
      <td>{{thing.volume}}</td>
      <td>{{thing.calculation}}</td>
    </tr>
  </table>
</div>


<!-- 
<div id="divMain">
<script type='text/javascript'>
function main()
{
  new StockTracker
  (
    [
      new Stock("NASDAQ", "AMZN"),
    ]
  ).initialize();
}
function Stock(exchange, symbol, priceLast)
{
  this.exchange = exchange;
  this.symbol = symbol;
  this.priceLast = priceLast;
}
{
  Stock.prototype.domElementUpdate = function(parentDomElement)
  {
    if (this.domElement == null)
    {
      var tr = document.createElement("tr");
      var td = document.createElement("td");
      tr.appendChild(td);
      var td = document.createElement("td");      
      tr.appendChild(td);
      this.domElement = tr;
      parentDomElement.appendChild(this.domElement);
    }
    var tdsAll = this.domElement.getElementsByTagName("td");
    var priceAsString;
    if (this.priceLast == null)
    {
      priceAsString = "?";
    }
    else
    {
      var centsPerDollar = 100;
      var cents = Math.floor(this.priceLast * centsPerDollar) % centsPerDollar;
      var dollarsAsString = "" + Math.floor(this.priceLast);
      var centsAsString = (cents < 10 ? "0" : "") + cents;
      priceAsString = dollarsAsString + "." + centsAsString;
    }
    tdsAll[0].innerHTML = this.symbol;
    tdsAll[1].innerHTML = priceAsString;
  }
  Stock.prototype.update = function()
  {
    this.updateViaGoogle();
  }
// GOOG quote API deprecated in 2011, but still working
  Stock.prototype.updateViaGoogle = function()
  {
  
    var requestURL = 
      "https://www.google.com/finance/info?q="
      + this.exchange + ":" + this.symbol;
    var request = new XMLHttpRequest();
    request.open("GET", requestURL, false);
    try
    {
      request.send(null);
      var responseAsString = request.responseText;
      responseAsString = responseAsString.substr("////".length);
      var responseAsArray = JSON.parse(responseAsString);
      var responseAsObject = responseAsArray[0];
  
      this.priceLast = responseAsObject["l"]; // "latest"
    }
    catch(e)
    {
      this.priceLast = "?";
    }
  }
  
// Yahoo quote API (as alternate - or for indexes)
  Stock.prototype.updateViaYahoo = function()
  {
    var requestURL = 
      "https://finance.yahoo.com/webservice/v1/symbols/" + this.symbol + "/quote?format=json";
    var request = new XMLHttpRequest();
    request.open("GET", requestURL, false);
    try
    {
      request.send(null);
      var responseAsString = request.responseText;
      var responseAsArray = JSON.parse(responseAsString);
      var responseAsObject = responseAsArray.list.resources[0].resource;
  
      this.priceLast = parseFloat(responseAsObject.fields.price);
    }
    catch(e)
    {
      this.priceLast = "?";
    }
  }
}
function StockTracker(stocksToTrack)
{
  this.stocksToTrack = stocksToTrack;
}
{
  // constants
  StockTracker.Newline = "<br />";
  // instance methods
  StockTracker.prototype.initialize = function()
  {
    var millisecondsPerTimerTick = 2000;
    setInterval
    (
      this.handleEventTimerTick.bind(this),
      millisecondsPerTimerTick
    );
    this.handleEventTimerTick();
  }
  StockTracker.prototype.update = function()
  {
    for (var i = 0; i < this.stocksToTrack.length; i++)
    {
      var stock = this.stocksToTrack[i];
      stock.update();
    }
    this.domElementUpdate();
  }
  // output to the DOM
  StockTracker.prototype.domElementUpdate = function()
  {
    var divTracker = document.createElement("div");
    if (this.domElement == null)
    {
      var labelSymbolToAdd = document.createElement("label");
      labelSymbolToAdd.for = "inputSymbolToAdd";
      labelSymbolToAdd.innerHTML = "Add Ticker:";
      divTracker.appendChild(labelSymbolToAdd);
      var inputSymbolToAdd = document.createElement("input");
      inputSymbolToAdd.id = "inputSymbolToAdd";
      divTracker.appendChild(inputSymbolToAdd);
      var buttonSymbolAdd = document.createElement("button");
      buttonSymbolAdd.innerHTML = "Add";
      buttonSymbolAdd.onclick = this.buttonSymbolAdd_Click.bind(this);
      divTracker.appendChild(buttonSymbolAdd);
      var tableQuotes = document.createElement("table");
      tableQuotes.id = "tableQuotes";
      tableQuotes.border = "1px solid";
      var tr = document.createElement("tr");
      //var td = document.createElement("td");
      //td.innerHTML = "Exchange";
      //tr.appendChild(td);
      var td = document.createElement("td");
      td.width = "65px";
      td.innerHTML = "Symbol";
      tr.appendChild(td);
      var td = document.createElement("td");
      td.width = "65px";
      td.innerHTML = "Price";
      tr.appendChild(td);
      tableQuotes.appendChild(tr);
      for (var i = 0; i < this.stocksToTrack.length; i++)
      {
        var stock = this.stocksToTrack[i];
        stock.domElementUpdate(tableQuotes);
      }   
      divTracker.appendChild(tableQuotes);
      this.domElement = divTracker;
      var divMain = document.getElementById("divMain");
      divMain.appendChild(this.domElement);
    }
    var tableQuotes = document.getElementById("tableQuotes");
    for (var i = 0; i < this.stocksToTrack.length; i++)
    {
      var stock = this.stocksToTrack[i];
      stock.domElementUpdate(tableQuotes);
    }
  }
  // events
  StockTracker.prototype.buttonSymbolAdd_Click = function(e)
  {
    var inputSymbolToAdd = document.getElementById("inputSymbolToAdd");
    var stockToAddAsString = inputSymbolToAdd.value;
    var exchange;
    var symbol;
    if (stockToAddAsString.indexOf(":") == -1)
    {
      exchange = null;
      symbol = stockToAddAsString;
    }
    else
    {
      var stockToAddAsStrings = stockToAddAsString.split(":");
      exchange = stockToAddAsStrings[0] 
      symbol = stockToAddAsStrings[1];
    }
    
    var stock = new Stock
    (
      exchange, symbol
    );
    this.stocksToTrack.push(stock);
    this.update();
  }
  StockTracker.prototype.handleEventTimerTick = function()
  {
    this.update();  
  }
}
main();
</script>
</div>
 -->