<div id="cntrlPanelTop">
<div class="medium"><span id="textFlash">Live</span> Update: <span id="updateTime"></span></div>
<div id="addTick">
  <input type="text" ng-model="addTicker" placeholder=" Add Ticker">
    <a><button ng-click="newTicker()">Add to</button></a>
    <select ng-model="addToThisList" ng-options="thing.$id for thing in listToWatch">
      <option></option>
    </select><div><input ng-model="watchName" type="text" placeholder=" or enter new Watchlist"></div>
</div>

<div>
  <label>WatchList:
    <select ng-model="watchList" ng-options="thing.$id for thing in listToWatch">
    <option value="">Select Watchlist</option>
    </select>
  </label>

  <label>Market:
    <select ng-model="marketList" ng-options="thing.$id for thing in marketsList" ng-change="marketView(marketList)">
    <option value="">Select Market</option>
    </select>
  </label>
</div>

<div>  
  <label>Real-Time Market Scan:
    <select ng-model="scanners" ng-options="thing.$id for thing in scans" ng-change="calc(scanners)"><option value="">Select Scan</option>
    </select>
  </label>
  <!-- <a><button ng-click="update()">Force Update</button></a> -->
</div>
  <!-- <a><button ng-click="populateStocks()">Populate Stock List</button></a> -->
  <!-- <button ng-click="predicate=''">Unsort</button> -->
</div>

<div id="cntrlPanel">
  <table>
    <tr>
      <td>
        <table class="list">
          <tr>
           <td>
               <button ng-click="order('symbol')"><em>Symbol</em></button>
               <span class="sortorder" ng-show="predicate === 'symbol'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('lastPrice')">Last</button>
               <span class="sortorder" ng-show="predicate === 'lastPrice'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('close')">Close</button>
               <span class="sortorder" ng-show="predicate === 'close'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('high')">High</button>
               <span class="sortorder" ng-show="predicate === 'high'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('low')">Low</button>
               <span class="sortorder" ng-show="predicate === 'low'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order('volume')">Volume</button>
               <span class="sortorder" ng-show="predicate === 'volume'" ng-class="{reverse:reverse}"></span>
           </td>
          </tr>
          <!-- USE NG-VIEW HERE TO POPULATE USER-CHOSEN WATCHLIST -->
          <!-- MOVE BELOW INTO ITS OWN MODULE -->
          <tr ng-repeat="thing in sp500 | filter: query | orderBy:predicate:reverse">
            <td>{{thing.symbol}}</td>
            <td>{{thing.lastPrice}}</td>
            <td>{{thing.close}}</td>
            <td>{{thing.high}}</td>
            <td>{{thing.low}}</td>
            <td>{{thing.volume}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>


<div id"cntrlPanel2">
  <table>
    <tr>
      <td>
        <table class="list2">
          <tr>
           <td>
               <button ng-click="order2('symbol')"><em>Symbol</em></button>
               <span class="sortorder2" ng-show="predicate === 'symbol'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order2('lastPrice')">Last</button>
               <span class="sortorder2" ng-show="predicate === 'lastPrice'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order2('close')">Close</button>
               <span class="sortorder2" ng-show="predicate === 'close'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order2('high')">High</button>
               <span class="sortorder2" ng-show="predicate === 'high'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order2('low')">Low</button>
               <span class="sortorder2" ng-show="predicate === 'low'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order2('volume')">Volume</button>
               <span class="sortorder2" ng-show="predicate === 'volume'" ng-class="{reverse:reverse}"></span>
           </td>
           <td>
               <button ng-click="order2('change')">Change</button>
               <span class="sortorder2" ng-show="predicate === 'change'" ng-class="{reverse:reverse}"></span>
           </td>
          </tr>
          <tr ng-repeat="thing in watchList">
            <td class="watchTicks"><button type="button" class="deleteButton" ng-click="getTickerData(thing.ticker, watchList)">Get Data</button>{{thing.ticker}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
