<div id="background"> <!-- begin top -->
  <div> <!-- begin content -->
  <header id="my-header">
    <nav>
      <div><a href="/login">Log in</a></div>
    </nav>
  </header>

<!--     <div id="options">
      <p id="naz">Naz 100: {{data.repeatSelect}}
        <select ng-model="nazModel" name="naz">
          <option></option>
          <option ng-repeat="thing in stocks">{{thing.symbol}}</option>
        </select>
      </p>
    </div> -->

  <div class="navbar transparent navbar-inverse navbar-fixed-top">
     <nav class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">Market Wizard</a> -->
      </div>
      <div><a href="#/login">Log in</a>
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="/#/songs/list">To Nothing</a></li> -->
          <!-- <li><a href="/#/songs/form">To Nothing</a></li> -->
          <li><input ng-model="query" id="searchBox" type="text" class="form-control" placeholder="Search"></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <table>
    <tr>
      <td>Symbol</td>
      <td>Last</td>
      <td>High</td>
      <td>Low</td>
      <td>Volume</td>
    </tr>
    <tr ng-repeat="thing in data | filter: query">
      <td><em>{{thing.symbol}}</em></td>
      <td>{{thing.lastPrice}}</td>
      <td>{{thing.high}}</td>
      <td>{{thing.low}}</td>
      <td>{{thing.volume}}</td>
    </tr>
  </table>



  </div> <!-- end content -->
</div> <!-- end top -->

<!-- ****************** -->
<!-- ****************** -->

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->