<div id="scanSetup">
<!-- PRICE1 SCAN -->
<div class="addScan">
      <input id="price1" type="checkbox" name="Price1" value="">
      <label>Price 1</label>
      <select>
      <option>Select</option>
      <option>></option>
      <option><</option>
    </select>
  <input type="text" ng-model="addPrice1" placeholder=" Price 1">
</div>

<!-- PRICE2 SCAN -->
<div class="addScan">
      <input id="price2" type="checkbox" name="Price2" value="">
      <label>Price 2</label>
      <select>
      <option>Select</option>
      <option>></option>
      <option><</option>
    </select>
  <input type="text" ng-model="addPrice2" placeholder=" Price 2">
</div>

<!-- VOLUME SCAN -->
<div class="addScan">
      <input id="volume" type="checkbox" name="Volume" value="">
      <label>Volume</label>
      <select>
      <option>Select</option>
      <option>></option>
      <option><</option>
    </select>
  <input type="text" ng-model="addVolume" placeholder=" Volume">
</div>

<!-- PAST # TRADING DAYS -->
<div class="addScan">
  <input ng-model="numPastDays" id="numPastDays" type="checkbox" name="numPastDays" value="">
    <label>Past</label>
      <select>
      <option>Select</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>Quarter</option>
      <option>Six Months</option>
      <option>52 Weeks</option>
    </select>
  <span>trading days</span>
</div>

<div>
<input ng-model="scanName" type="text" placeholder=" Scan name"><a><button ng-click="newScan()">Create Scan</button></a>
</div>

</div>

