<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Market Wizard</title>

    <link href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
  </head>

  <body ng-app="MarketApp">
  <div> <!-- begin content -->
  <header id="my-header">
    <nav>
      <div><a href="/login">Log In</a>/<a ng-href="login()">Log Out</a></div>
    </nav>
  </header>

<!-- begin navbar -->
  <div class="navbar transparent navbar-inverse navbar-fixed-top">
     <nav class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id="logo">Market Wizard</div>
      </div>
      <div id="navContents"><a href="#/login" id="logInLink">Log in /</a><a href="#/logout" id="logOutLink"> Log Out</a>
        <ul class="nav navbar-nav">
          <li><input ng-model="query" id="searchBox" type="text" class="form-control" placeholder="Search"></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='notify'>~ NOTE: API no longer supports live data ~ </div>
  <div class='notify'>(end-of-day scanning ONLY - tickerboards remain LIVE)</div>
    <!-- <div class='notify'>NASDAQ: Live Trading-Hours and After-Hours Scanning!</div>
    <div class='notify'>( DJ-30 / SP-100: After-Hours ONLY )</div> -->
  </div>
  </div>
<!-- end navbar -->
    <div ng-view id="results"></div>

    <div id="tickerBoard2">  <!-- Stock Quote Board -->
    <div id="divMain2">
      <script type='text/javascript'>
      function main2() {
        new StockTracker
        (
          [  // 'ENTER ANY PERMANENT TICKERS WANTED BELOW'
            // new Stock("NASDAQ", "^IXIC"), // NASDAQ Composite
            // new Stock("NYSE", "^GSPC"), // SP-500
            // new Stock("NYSE", "^DJI"), // DJ-30
            // new Stock("NASDAQ", "NFLX"),
            // new Stock("NASDAQ", "MNST"),
            // new Stock("NASDAQ", "GOOGL"),
          ]
        ).initialize();
      }
      function Stock(exchange, symbol, priceLast) {
        this.exchange = exchange;
        this.symbol = symbol;
        this.priceLast = priceLast;
      }
      {
        Stock.prototype.domElementUpdate = function(parentDomElement) {
          if (this.domElement == null)
          {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            tr.appendChild(td);
            var td = document.createElement("td");
            tr.appendChild(td);
            this.domElement = tr;
            parentDomElement.appendChild(this.domElement);
          }
          var tdsAll = this.domElement.getElementsByTagName("td");
          var priceAsString;
          if (this.priceLast == null)
          {
            priceAsString = "?";
          }
          else
          {
            var centsPerDollar = 100;
            var cents = Math.floor(this.priceLast * centsPerDollar) % centsPerDollar;
            var dollarsAsString = "" + Math.floor(this.priceLast);
            var centsAsString = (cents < 10 ? "0" : "") + cents;
            priceAsString = dollarsAsString + "." + centsAsString;
          }
          tdsAll[0].innerHTML = this.symbol;
          tdsAll[1].innerHTML = priceAsString;
        }


// +++  ~~ LIVE UPDATE  ~~  ~~ LIVE UPDATE  ~~   ~~ LIVE UPDATE  ~~  ~~ LIVE UPDATE  ~~ +++ //

        Stock.prototype.liveUpdate = function() {
          this.updateViaGoogle();  // update dynamic quote board via Google (change to Yahoo if Google becomes unavailable)
        }

    // GOOG quote API deprecated in 2011, but still working
        Stock.prototype.updateViaGoogle = function() {

          var requestURL = "https://www.google.com/finance/info?q=" + this.exchange + ":" + this.symbol;
          var request = new XMLHttpRequest();
          request.open("GET", requestURL, false);  // AJAX call for stock data
          try
          {
            request.send(null);
            var responseAsString = request.responseText;
            responseAsString = responseAsString.substr("////".length);  // .substr to ignore Google's characters at beginning of JSON data
            var responseAsArray = JSON.parse(responseAsString);  // parse response for browser
            var responseAsObject = responseAsArray[0];

            this.priceLast = responseAsObject["l"]; // "latest"
          }
          catch(e)  // error if data cannot be parsed
          {
            this.priceLast = "?";
          }
        }

      }

      function StockTracker(stocksToTrack) {
        this.stocksToTrack = stocksToTrack;
      }

      {
        StockTracker.Newline = "<br>";

      // TIMER FOR UPDATES
        StockTracker.prototype.initialize = function() {
          var millisecondsPerTimerTick = 2000;  // update interval
          setInterval
          (
            this.handleEventTimerTick.bind(this),
            millisecondsPerTimerTick
          );
          this.handleEventTimerTick();  // call to function which invokes liveUpdate()
        }

        StockTracker.prototype.liveUpdate = function() {
          for (var i = 0; i < this.stocksToTrack.length; i++)
          {
            var stock = this.stocksToTrack[i];
            stock.liveUpdate();
          }
          this.domElementUpdate();
        }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


      // ~~ output to DOM ~~ // ~~ output to DOM ~~ // ~~ output to DOM ~~
        StockTracker.prototype.domElementUpdate = function() {
          var divElement = document.createElement("div");
          if (this.domElement == null)
          {
          // 'ADD TICKER' INPUT FIELD
            var labelSymbolToAdd = document.createElement("label");
            labelSymbolToAdd.for = "inputSymbolToAdd";
            labelSymbolToAdd.innerHTML = "Add Ticker:";
            divElement.appendChild(labelSymbolToAdd);

            var linebreak = document.createElement("br")  // insert linebreak
            divElement.appendChild(linebreak);  // insert linebreak

            var inputSymbolToAdd = document.createElement("input");  // insert input field
            inputSymbolToAdd.id = "inputSymbolToAdd";  // ID for 'Add Ticker' input field
            divElement.appendChild(inputSymbolToAdd);

          // 'ADD' BUTTON
            var buttonSymbolAdd = document.createElement("button");
            buttonSymbolAdd.innerHTML = "Add";
            buttonSymbolAdd.onclick = this.buttonSymbolAdd_Click.bind(this);  // event handler
            divElement.appendChild(buttonSymbolAdd);

          // CREATE DYNAMIC TABLE
            var tableQuotes = document.createElement("table");
            tableQuotes.id = "tableQuotes";  // ID for table
            tableQuotes.border = "1px solid";
            var tr = document.createElement("tr");
            //var td = document.createElement("td");
            //td.innerHTML = "Exchange";
            //tr.appendChild(td);
            var td = document.createElement("td");
            td.width = "105px";  // width of ticker field
            td.innerHTML = "Ticker";  // 'Ticker' heading
            tr.appendChild(td);
            var td = document.createElement("td");
            td.width = "105px";  // width of 'Price' field
            td.innerHTML = "Price";  // 'Price' heading
            tr.appendChild(td);
            tableQuotes.appendChild(tr);

            for (var i = 0; i < this.stocksToTrack.length; i++)
            {
              var stock = this.stocksToTrack[i];
              stock.domElementUpdate(tableQuotes);
            }
            divElement.appendChild(tableQuotes);
            this.domElement = divElement;
            var divMain2 = document.getElementById("divMain2");
            divMain2.appendChild(this.domElement);
          }
          var tableQuotes = document.getElementById("tableQuotes");
          for (var i = 0; i < this.stocksToTrack.length; i++)
          {
            var stock = this.stocksToTrack[i];
            stock.domElementUpdate(tableQuotes);
          }
        }


        StockTracker.prototype.buttonSymbolAdd_Click = function(e) {
          var inputSymbolToAdd = document.getElementById("inputSymbolToAdd");
          var stockToAddAsString = inputSymbolToAdd.value;
          stockToAddAsString = stockToAddAsString.toUpperCase();
          var exchange;
          var symbol;
          if (stockToAddAsString.indexOf(":") == -1)
          {
            exchange = null;
            symbol = stockToAddAsString;
          }
          else
          {
            var stockToAddAsStrings = stockToAddAsString.split(":");
            exchange = stockToAddAsStrings[0]
            symbol = stockToAddAsStrings[1];
          }

          var stock = new Stock
          (
            exchange, symbol
          );
          this.stocksToTrack.push(stock);
          inputSymbolToAdd.value = "";  // clear 'Add Ticker' input field
          this.liveUpdate();
        }

      //
        StockTracker.prototype.handleEventTimerTick = function() {  // called from timer
          this.liveUpdate();
        }
      }
      main2();
      </script>
    </div>
    </div>

    <div id="tickerBoard">  <!-- Index Quote Board -->
    <div id="divMain">
      <script type='text/javascript'>
      function main() {
        new StockTracker
        (
          [  // 'ENTER ANY PERMANENT TICKERS WANTED BELOW'
            new Stock("NASDAQ", "^IXIC"), // NASDAQ Composite
            new Stock("NYSE", "^GSPC"), // SP-500
            new Stock("NYSE", "^DJI"), // DJ-30
            // new Stock("NASDAQ", "NFLX"),
            // new Stock("NASDAQ", "MNST"),
            // new Stock("NASDAQ", "GOOGL"),
          ]
        ).initialize();
      }
      function Stock(exchange, symbol, priceLast) {
        this.exchange = exchange;
        this.symbol = symbol;
        this.priceLast = priceLast;
      }
      {
        Stock.prototype.domElementUpdate = function(parentDomElement) {
          if (this.domElement == null)
          {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            tr.appendChild(td);
            var td = document.createElement("td");
            tr.appendChild(td);
            this.domElement = tr;
            parentDomElement.appendChild(this.domElement);
          }
          var tdsAll = this.domElement.getElementsByTagName("td");
          var priceAsString;
          if (this.priceLast == null)
          {
            priceAsString = "?";
          }
          else
          {
            var centsPerDollar = 100;
            var cents = Math.floor(this.priceLast * centsPerDollar) % centsPerDollar;
            var dollarsAsString = "" + Math.floor(this.priceLast);
            var centsAsString = (cents < 10 ? "0" : "") + cents;
            priceAsString = dollarsAsString + "." + centsAsString;
          }
          tdsAll[0].innerHTML = this.symbol;
          tdsAll[1].innerHTML = priceAsString;
        }


  // +++  ~~ LIVE UPDATE  ~~  ~~ LIVE UPDATE  ~~   ~~ LIVE UPDATE  ~~  ~~ LIVE UPDATE  ~~ +++ //

        Stock.prototype.liveUpdate = function() {
          this.updateViaYahoo();  // update indexes via Yahoo
        }

      // Yahoo quote API (as alternate - or for indexes)
        Stock.prototype.updateViaYahoo = function() {
          var requestURL =
            "https://finance.yahoo.com/webservice/v1/symbols/" + this.symbol + "/quote?format=json";
          var request = new XMLHttpRequest();
          request.open("GET", requestURL, false);
          try
          {
            request.send(null);
            var responseAsString = request.responseText;
            var responseAsArray = JSON.parse(responseAsString);
            var responseAsObject = responseAsArray.list.resources[0].resource;

            this.priceLast = parseFloat(responseAsObject.fields.price);
          }
          catch(e)
          {
            this.priceLast = "?";
          }
        }
      }
      function StockTracker(stocksToTrack) {
        this.stocksToTrack = stocksToTrack;
      }

      {
        StockTracker.Newline = "<br>";

      // TIMER FOR UPDATES
        StockTracker.prototype.initialize = function() {
          var millisecondsPerTimerTick = 2000;  // update interval
          setInterval
          (
            this.handleEventTimerTick.bind(this),
            millisecondsPerTimerTick
          );
          this.handleEventTimerTick();  // call to function which invokes liveUpdate()
        }

        StockTracker.prototype.liveUpdate = function() {
          for (var i = 0; i < this.stocksToTrack.length; i++)
          {
            var stock = this.stocksToTrack[i];
            stock.liveUpdate();
          }
          this.domElementUpdate();
        }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


      // ~~ output to DOM ~~ // ~~ output to DOM ~~ // ~~ output to DOM ~~
        StockTracker.prototype.domElementUpdate = function() {
          var divElement = document.createElement("div");
          if (this.domElement == null)
          {
          // 'ADD TICKER' INPUT FIELD
            // var labelSymbolToAdd = document.createElement("label");
            // labelSymbolToAdd.for = "inputSymbolToAdd";
            // labelSymbolToAdd.innerHTML = "Add Ticker:";
            // divElement.appendChild(labelSymbolToAdd);
            // var inputSymbolToAdd = document.createElement("input");
            // inputSymbolToAdd.id = "inputSymbolToAdd";
            // divElement.appendChild(inputSymbolToAdd);

          // 'ADD' BUTTON
            // var buttonSymbolAdd = document.createElement("button");
            // buttonSymbolAdd.innerHTML = "Add";
            // buttonSymbolAdd.onclick = this.buttonSymbolAdd_Click.bind(this);
            // divElement.appendChild(buttonSymbolAdd);

          // CREATE TABLE
            var tableQuotes = document.createElement("table");
            tableQuotes.id = "tableQuotes";  // ID for 'tableQuotes'
            tableQuotes.border = "1px solid";
            var tr = document.createElement("tr");
            //var td = document.createElement("td");
            //td.innerHTML = "Exchange";
            //tr.appendChild(td);
            var td = document.createElement("td");
            td.width = "125px";
            td.innerHTML = "Index";  // 'Index' heading
            tr.appendChild(td);
            var td = document.createElement("td");
            td.width = "125px";
            td.innerHTML = "Price";  // 'Price' heading
            tr.appendChild(td);
            tableQuotes.appendChild(tr);
            for (var i = 0; i < this.stocksToTrack.length; i++)
            {
              var stock = this.stocksToTrack[i];
              stock.domElementUpdate(tableQuotes);
            }
            divElement.appendChild(tableQuotes);
            this.domElement = divElement;
            var divMain = document.getElementById("divMain");
            divMain.appendChild(this.domElement);
          }
          var tableQuotes = document.getElementById("tableQuotes");
          for (var i = 0; i < this.stocksToTrack.length; i++)
          {
            var stock = this.stocksToTrack[i];
            stock.domElementUpdate(tableQuotes);
          }
        }

        StockTracker.prototype.buttonSymbolAdd_Click = function(e) {
          var inputSymbolToAdd = document.getElementById("inputSymbolToAdd");
          var stockToAddAsString = inputSymbolToAdd.value;
          var exchange;
          var symbol;
          if (stockToAddAsString.indexOf(":") == -1)
          {
            exchange = null;
            symbol = stockToAddAsString;
          }
          else
          {
            var stockToAddAsStrings = stockToAddAsString.split(":");
            exchange = stockToAddAsStrings[0]
            symbol = stockToAddAsStrings[1];
          }

          var stock = new Stock
          (
            exchange, symbol
          );
          this.stocksToTrack.push(stock);
          inputSymbolToAdd.value = "";  // clear 'Add Ticker' input field
          this.liveUpdate();
        }
        StockTracker.prototype.handleEventTimerTick = function() {
          this.liveUpdate();
        }
      }
      main();
      </script>
    </div>  <!-- end 'id=tickerBoard' -->
    </div>  <!-- end 'id=divMain' -->

    <div id="chartButton"><button type="button" class="myButton" data-toggle="modal" data-target="#myModal">Chart</button>
    </div>

<!-- Modal for successfully registering -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registered</h4>
      </div>
      <div class="modal-body">
      You may now log in.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for ticker added to watchlist -->
<div class="modal fade" id="addTickerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Watchlist Update</h4>
      </div>
      <div class="modal-body">
      Ticker successfully <span class='wordStandout'>added</span> to watchlist.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for ticker deleted from watchlist -->
<div class="modal fade" id="deleteTickerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Watchlist Update</h4>
      </div>
      <div class="modal-body">
      Ticker successfully <span class='wordStandout'>deleted</span> from watchlist.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for watchlist deleted  -->
<div class="modal fade" id="deleteWatchlistModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Watchlist Update</h4>
      </div>
      <div class="modal-body">
      Watchlist successfully <span class='wordStandout'>deleted.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for scan deleted  -->
<div class="modal fade" id="deleteScanModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Scan Update</h4>
      </div>
      <div class="modal-body">
      Your scan was successfully <span class='wordStandout'>deleted.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for nightly update -->
<div class="modal fade" id="nightlyUpdateModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nightly Data Update</h4>
      </div>
      <div class="modal-body">
      Nightly market data update successful.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for user-click update -->
<div class="modal fade" id="userDataUpdateModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Data Update</h4>
      </div>
      <div class="modal-body">
      Data update successful.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for scan added -->
<div class="modal fade" id="addScanModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Scan</h4>
      </div>
      <div class="modal-body">
      The scan was successfully added.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to add scan -->
<div id="writeScanModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Scan</h4>
      </div>
      <!-- PRICE1 SCAN -->
      <div class="addScan">
            <label> Coming in version 2.0</label>
        <!-- <input type="text" ng-model="addPrice1" placeholder=" Price 1"> -->
      </div>

      <!-- PRICE2 SCAN -->
      <!-- <div class="addScan">
            <label>Price 2</label>
        <input type="text" ng-model="addPrice2" placeholder=" Price 2">
      </div> -->

<!--       <div>
      <input ng-model="scanName" type="text" placeholder=" Scan name"><a><button ng-click="newScan()">Create Scan</button></a>
      </div> -->

      <!-- <div class="modal-footer">
        <input ng-model="scanName" type="text" placeholder=" Scan name">
        <button type="button" class="btn btn-default" data-dismiss="modal">Create Scan</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal for chart -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-content">
  <!-- Modal content below -->
    <!-- TradingView Widget BEGIN -->
    <button type="button" class="btn btn-default closeChart" data-dismiss="modal">Close</button>
    <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget({
      "width": 725,
      "height": 465,
      "symbol": "FX:SPX500",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "White",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "allow_symbol_change": true,
      "save_image": false,
      "hideideas": true,
      "studies": [
        "MASimple@tv-basicstudies"
      ]
    });
    </script>
    <!-- <div id="chartModal" style="width:50%;height:100%;"></div> -->
    <!-- TradingView Widget END -->
  </div>
</div>

    <!-- Instant Click -->
    <script src="lib/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>InstantClick.init();</script>

    <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/bower_components/angular/angular.min.js"></script>
    <script src="lib/bower_components/angular-route/angular-route.min.js"></script>
    <script src="lib/bower_components/firebase/firebase.js"></script>
    <script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="lib/bower_components/angular-filter/dist/angular-filter.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/masterListCtrl.js"></script>
    <script src="app/controllers/logInCtrl.js"></script>
    <script src="app/controllers/logOutCtrl.js"></script>
    <script> src="javascripts/scripts.js"</script>

  </body>
</html>
